@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container{
    height: 100vh;
}

.leaflet-popup-content-wrapper{
    height: 200px;
    width: 200px;
    background-color: #1b1b1b;
    color: white;
}

.leaflet-popup-tip{
    background-color: #1b1b1b;
}
